<div class="spaceship">
    <div class="controller">
        <button onclick="startGame()">Start Game</button>
        <button onclick="pauseGame()">Pause Game</button>
        <button onclick="resumeGame()">Resume Game</button>
    </div>
    <div class="screen">
        <div class="slider-holder">
            <div id="checkbox0" class="slider check0 toggle">
                <div class="slider-header">
                    Window Inside
                </div>
                <div>
                    SPENG
                </div>
                <div>
                    21737
                </div>
                <div class="slider-header">
                    Window Outside
                </div>
            </div>
        </div>
        <div class="slider-holder">
            <div id="checkbox1" class="slider check1 toggle">
                <div class="slider-header">
                    Probe Tip
                </div>
                <div>
                    TETRAHEDRON
                </div>
                <div>
                    PURPLE (Red + Blue)
                </div>
                <div class="slider-header">
                    Probe Base
                </div>
            </div>
        </div>
        <div class="slider-holder">
            <div id="checkbox2" class="slider check2 toggle">
                <div class="slider-header">
                    Wing Tips
                </div>
                <div>
                    − · , · − , − · − 
                </div>
                <div>
                    Double the dots
                </div>
                <div class="slider-header">
                    Inside of Shutters
                </div>
            </div>
        </div>
        <div class="slider-holder">
            <div id="checkbox3" class="slider check3 toggle">
                <div class="slider-header">
                    Top of Flaps
                </div>
                <div>
                    Square
                </div>
                <div>
                    Octagon
                </div>
                <div class="slider-header">
                    Bottom of Flaps
                </div>
            </div>
        </div>
    </div>
    <div class="dialogue">
        <h1>Terminal</h1>
        <div id="error" class="script">
            Error messages here...
        </div>
        <div id="script" class="script">
            Your lines will render here...
        </div>
    </div>
</div>

<script src="javascripts/socketReceiver.js"></script>
