<div class="container">
    <div class="button-container">
        <button onclick="buttonPush(0)"> 0 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(1)"> 1 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(2)"> 2 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(3)"> 3 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(4)"> 4 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(5)"> 5 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(6)"> 6 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(7)"> 7 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(8)"> 8 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(9)"> 9 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(10)"> 10 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(11)"> 11 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(12)"> 12 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(13)"> 13 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(14)"> 14 </button>
    </div>
    <div class="button-container">
        <button onclick="buttonPush(15)"> 15 </button>
    </div>
    <div class="range-slider range-slider-5">
        <div class="input-holder"><input class="input-range" orient="vertical" type="range" step="1" value="5" min="0" max="10" id="range5" oninput="sliderUpdate(5)"></div>
        <div class="range-value" id="value5">5</div>
    </div> 
    <div class="range-slider range-slider-6">
        <div class="input-holder"><input class="input-range" orient="vertical" type="range" step="1" value="5" min="0" max="10" id="range6" oninput="sliderUpdate(6)"></div>
        <div class="range-value" id="value6">5</div>
    </div>
    <div class="range-slider range-slider-7">
        <div class="input-holder"><input class="input-range" orient="vertical" type="range" step="1" value="5" min="0" max="10" id="range7" oninput="sliderUpdate(7)"></div>
        <div class="range-value" id="value7">5</div>
    </div>
</div>
<script src="javascripts/socketSender.js"></script>
