<div class="container">
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(0)" id="checkbox0"/> <span class="checkmark">0 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(1)" id="checkbox1"/> <span class="checkmark">1 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(2)" id="checkbox2"/> <span class="checkmark">2 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(3)" id="checkbox3"/> <span class="checkmark">3 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(4)" id="checkbox4"/> <span class="checkmark">4 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(5)" id="checkbox5"/> <span class="checkmark">5 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(6)" id="checkbox6"/> <span class="checkmark">6 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(7)" id="checkbox7"/> <span class="checkmark">7 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(8)" id="checkbox8"/> <span class="checkmark">8 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(9)" id="checkbox9"/> <span class="checkmark">9 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(10)" id="checkbox10"/> <span class="checkmark">10 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(11)" id="checkbox11"/> <span class="checkmark">11 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(12)" id="checkbox12"/> <span class="checkmark">12 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(13)" id="checkbox13"/> <span class="checkmark">13 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(14)" id="checkbox14"/> <span class="checkmark">14 </span> 
    </label>
    <label class="button-container">
        <input type="checkbox" onchange="checkBox(15)" id="checkbox15"/> <span class="checkmark">15 </span> 
    </label>
    <div class="range-slider range-slider-5">
        <div class="input-holder"><input class="input-range" orient="vertical" type="range" step="1" value="5" min="0" max="10" id="range5" oninput="sliderUpdate(5)"></div>
        <div class="range-value" id="value5">5</div>
    </div> 
    <div class="range-slider range-slider-6">
        <div class="input-holder"><input class="input-range" orient="vertical" type="range" step="1" value="5" min="0" max="10" id="range6" oninput="sliderUpdate(6)"></div>
        <div class="range-value" id="value6">5</div>
    </div>
    <div class="range-slider range-slider-7">
        <div class="input-holder"><input class="input-range" orient="vertical" type="range" step="1" value="5" min="0" max="10" id="range7" oninput="sliderUpdate(7)"></div>
        <div class="range-value" id="value7">5</div>
    </div>
</div>
<script src="javascripts/socketSender.js"></script>
