<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <h1>{{title}}</h1>
      <h1 id="timer">00:00</h1>
    </div>
    {{{body}}}
  </body>
</html>
